.pull-to-right{
  float: right;
}
.btn-hero-success.pull-to-right{
  margin-left: 30px;
}
.text-center[name$="modalHandle-style"]{
  color:red;
  font-size: 14px;
}
.modal-body[name$="modal-relative"]{
  position: relative;
}
.icon-abs.fa-asterisk{
  color:red;
  left: 5px;
  top: 15px;
  font-size: 10px;
}
/deep/ .mat-form-field-underline {
  display: none;
}

/deep/ .cdk-overlay-container {
  z-index: 9999;
}

[name$='participant'] {
  padding: 0px;
  min-height: 150px;
  max-height: 480px;
}

[name$='iconAvatar'] {
  position: relative;
}

[name$='iconMem'] {
  position: absolute;
  width: 40px;
  height: 40px;
}

[name$='avatarMem'] {
  width: 40px;
  height: 40px;
}
mat-form-field.w-100{
  border: 2px solid #dadfe6;
  padding-left: 10px;
}
