<div class="modal-body modal-lg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button *ngIf="groupId == null" type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
        <button *ngIf="groupId != null" type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="row mt-1 titleAlert" *ngIf="alert === true">
      <nav>Vui lòng nhập đầy đủ các thông tin!</nav>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <h5>Hoạt động</h5>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" [(ngModel)]="activityName" maxlength="350">
      </div>
    </div>
    <div class="row">
      <h5 class="ml-3">Cơ cấu tính điểm:</h5>
    </div>
    <div class="mt-2">
      <form action="" class="form-group">
        <div class="row mt-2">
          <div class="col-md-8 ml-5">
            <h5>Đối tượng</h5>
          </div>
          <div class="col-md-2 formStruc">
            <h5>Điểm</h5>
          </div>
        </div>
        <div class="row mt-2">
          <h6 class="col-md-8 ml-5">Dọn dẹp</h6>
          <input type="text" class="col-md-2  form-control formStruc" name="cleanUp"
                 [(ngModel)]="createdActivity.cleanUpPoint" maxlength="10"
                 appTwoDigitDecimaNumber>
        </div>
        <div class="row mt-2">
          <h6 class="col-md-8 ml-5">Mua đồ</h6>
          <input type="text" class=" col-md-2 form-control formStruc" name="buyingStuff"
                 [(ngModel)]="createdActivity.buyingStuffPoint" maxlength="10"
                 appTwoDigitDecimaNumber>
        </div>
        <div class="row mt-2">
          <h6 class="col-md-8 ml-5">Support hội thảo</h6>
          <input type="text" class=" col-md-2 form-control formStruc" name="conference"
                 [(value)]="createdActivity.supportConferencePoint" [(ngModel)]="createdActivity.supportConferencePoint"
                 maxlength="10"
                 appTwoDigitDecimaNumber>
        </div>
        <div class="row mt-2">
          <h6 class="col-md-8 ml-5">Training</h6>
          <input type="text" class=" col-md-2 form-control formStruc" name="training"
                 [(ngModel)]="createdActivity.trainingPoint" maxlength="10"
                 appTwoDigitDecimaNumber>
        </div>
        <div class="row mt-2">
          <h6 class="col-md-8 ml-5">Vệ sinh hàng tuần</h6>
          <input type="text" class="col-md-2  form-control formStruc" name="weekyClean"
                 [(ngModel)]="createdActivity.weeklyCleanUpPoint" maxlength="10"
                 appTwoDigitDecimaNumber>
        </div>
        <div class="row">
          <div class="supportButton mt-5">
            <button *ngIf="groupId == null" class="btn btn-hero-warning cancelButton" (click)="onClose()">Huỷ</button>
            <button *ngIf="groupId != null" class="btn btn-hero-warning cancelButton" (click)="dismiss()">Huỷ</button>
            <button *ngIf="groupId == null" class="btn btn-hero-success submitButton" (click)="addSupport($event)">Lưu
            </button>
            <button *ngIf="groupId != null" class="btn btn-hero-success submitButton" (click)="changeSupport($event)">
              Lưu
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
