<div class="modal-body modal-lg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button *ngIf="groupId == null" type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
        <button *ngIf="groupId != null" type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="row mt-1 titleAlert" *ngIf="alert === true">
      <nav>Vui lòng nhập đầy đủ các thông tin!</nav>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <h5>Hoạt động</h5>
      </div>
      <div class="col-md-6">
        <form action="" class="form-group">
          <input type="text" class="form-control" name="activityName" [(ngModel)]="activityName" maxlength="350"/>
        </form>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <h5>Chủ Câu lạc bộ</h5>
      </div>
      <div class="col-md-6">
        <form action="" class="form-group">
          <input type="text" class="form-control" name="hostName" [(ngModel)]="createdActivity.host" maxlength="350"/>
        </form>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-9">
        <h5 class="requiredInput">Số buổi tối thiểu hoạt động trong tháng</h5>
      </div>
      <div class="col-md-3">
        <form action="" class="form-group">
          <input type="text" class="form-control" name="numberSession" [(ngModel)]="createdActivity.minNumberOfSessions"
                 oncopy='return false' onpaste='return false'  maxlength="10" appTwoDigitDecimaNumber/>
        </form>
      </div>
    </div>
    <div class="row">
      <h5 class="ml-3">Cơ cấu tính điểm:</h5>
    </div>
    <div class="mt-2">
      <form action="" class="form-group">
        <div class="row mt-2">
          <div class="col-md-8 ml-5">
            <h5>Đối tượng</h5>
          </div>
          <div class="col-md-2 formStruc">
            <h5>Điểm</h5>
          </div>
        </div>
        <div class="row mt-2">
          <h6 class="col-md-8 ml-5">Tham gia</h6>
          <input type="text" class="col-md-2  form-control formStruc" name="joinPoint"
                 [(ngModel)]="createdActivity.participationPoint" oncopy='return false' onpaste='return false' maxlength="10" appTwoDigitDecimaNumber>
        </div>
        <div class="row mt-2">
          <h6 class="col-md-8 ml-5">Hiệu quả</h6>
          <input type="text" class=" col-md-2 form-control formStruc" name="effectPoint"
                 [(ngModel)]="createdActivity.effectivePoint" oncopy='return false' onpaste='return false' maxlength="10" appTwoDigitDecimaNumber>
        </div>
        <div class="row">
          <div class="clubButton mt-5">
            <button *ngIf="groupId == null" class="btn btn-hero-success submitButton" (click)="onAddClub($event)">Lưu</button>
            <button *ngIf="groupId != null" class="btn btn-hero-success submitButton" (click)="onUpdateClub($event)">Lưu</button>
            <button *ngIf="groupId == null" class="btn btn-hero-warning cancelButton" (click)="onClose()">Huỷ</button>
            <button *ngIf="groupId != null" class="btn btn-hero-warning cancelButton" (click)="dismiss()">Huỷ</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
