<div class="container">

  <div class="row ml-5 mr-5">
    <div class="col-md-12">

      <div class="row mt-5">
        <table class="table titleTable">
          <thead>
          <tr>
            <th class="column-rating">Câu hỏi khảo sát</th>
            <th class="column-rating text-center" *ngFor="let question of listQuestion; let i = index" ngbTooltip="{{question.question}}">Câu hỏi {{i + 1}}</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="row tableScroll">
        <table class="table table-hover">
          <tbody>
          <tr *ngFor="let employee of employeeList">

            <td class="column-rating" [ngClass]="{'text-danger': employee.isRated === true}">
              {{employee.fullname}}
            </td>

            <td class="column-rating text-center" *ngFor="let question of listQuestion; let i= index">
              <ngb-rating [(rate)]="employee.listRating[i]" max="10">
                <ng-template let-fill="fill">
                    <span class="star fill" [class.filled]="fill === 100">
                      <i class="ion-android-star" *ngIf="fill === 100"></i>
                      <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                    </span>
                </ng-template>
              </ngb-rating>
            </td>

          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <div class="row"><h5 class="margin-auto">Đánh giá điểm cho các dự án</h5></div>
      <div class="row mt-2">
        <div class="zui-wrapper margin-auto">
          <div class="zui-table-vertical">
            <table class='zui-table' name="evaluation-table">
              <thead>
              <tr>
                <th class="first-col"><span>Tên dự án (Khung 3)</span></th>
                <th><span>Điểm</span></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let project of projectList">
                <td class="first-col">{{project.name}}</td>
                <td>
                  <ngb-rating [(rate)]="project.rating" max="10">
                    <ng-template let-fill="fill">
                    <span class="star fill" [class.filled]="fill === 100">
                      <i class="ion-android-star" *ngIf="fill === 100"></i>
                      <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                    </span>
                    </ng-template>
                  </ngb-rating>
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row"><h5 class="margin-auto">Khung điểm đánh giá</h5></div>
      <div class="row mt-2">
        <div class="zui-wrapper margin-auto">
          <div class="zui-table-vertical">
            <table class='zui-table'>
              <thead>
              <tr>
                <th class="first-col"><span>Số sao tương ứng</span></th>
                <th><span>Khung 1</span></th>
                <th><span>Khung 2</span></th>
                <th><span>Khung 3</span></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let rating of ratingList">
                <td class="first-col">
                  <ngb-rating [(rate)]="rating.rating" max="10">
                    <ng-template let-fill="fill">
                    <span class="star fill" [class.filled]="fill === 100">
                      <i class="ion-android-star" *ngIf="fill === 100"></i>
                      <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                    </span>
                    </ng-template>
                  </ngb-rating>
                </td>
                <td>{{rating.pointStructure1}}</td>
                <td>{{rating.pointStructure2}}</td>
                <td>{{rating.pointStructure3}}</td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <button class="btn btn-hero-success" (click)="sendSurvey()">Gửi đánh giá</button>
  </div>


</div>
