@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

.zui-table {
  border: none;
  border-right: solid 1px #DDEFEF;
  border-collapse: separate;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}

.zui-table thead th {
  background-color: #DDEFEF;
  border: none;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
  white-space: nowrap;
}

.zui-table tbody td {
  border-bottom: solid 1px #DDEFEF;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
  white-space: nowrap;
}

.zui-wrapper {
  position: relative;
}

.zui-scroller {
  margin-left: 420px;
  overflow-x: auto;
  overflow-y: visible;
  padding-bottom: 5px;
  width: 990px;
}

.zui-table .zui-sticky-col {
  //padding-bottom: 12px !important;
  border-left: solid 1px #DDEFEF;
  border-right: solid 1px #DDEFEF;
  left: 0;
  position: absolute;
  top: auto;
  width: 420px;
}
.row-padding-bottom {
  padding-bottom: 17px !important;
}

.star {
  font-size: 18px;
  color: nb-theme(color-fg);
}

.filled {
  color: nb-theme(color-fg);
}

ngb-rating i {
  color: nb-theme(color-success);
  @include nb-for-theme(cosmic) {
    color: nb-theme(color-primary);
  }
}

.clipText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
