#btnDropdown {
  border: solid 2px #5dcfe3;
  box-shadow: 0 0 20px 0 #5dcfe3;
}
#btnDropdown:active {
  background-color: #5dcfe3;
}
h5 {
 padding: 10px;
}
#listDrop {
  border: solid 2px #5dcfe3;
}
#listDrop li:hover {
  background-color: #5dcfe3;
}
//.tableScroll {
//  max-height: 200px;
//  overflow-y: scroll;
//}
.teamButton{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.cancelButton {
  margin-left: 65%;
  margin-right: 5%;
}
.submitButton {
  margin-right: 5%;
}
h5, h6 {
  padding-top: 12px;
}
.formStruc {
  margin-left: 4%;
}
