<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="upload-btn-wrapper">
        <button class="butn">Import a file</button>
        <input type="file" name="myfile"/>
      </div>
    </div>
    <div class="col-md-6">
      <input normalCharacterOnly name="word" [(ngModel)]="word" (keyup)='handleKeyDown($event)'
             class="form-control search-inp" type="text" id="myInput"
             placeholder="Tìm kiếm Nhân Viên:" title="Type in a name"/>
      <span class="fas fa-search searchIcon" (click)="search()"></span>
    </div>
  </div>
  <div class="row mt-5 ml-5 mr-5">
    <table class='table titleTable'>
      <thead>
      <tr>
        <th class="titleField">STT</th>
        <th class="titleField">Nhân Viên</th>
        <th class="titleField">Email</th>
        <th class="titleField">Số buổi đi muộn</th>
      </tr>
      </thead>
    </table>
  </div>
  <div  class="row ml-5 mr-5 tableScroll">
    <table class="table table-hover" id="myTable">
      <tbody>
        <tr *ngFor="let late of listLate, let i = index">
          <td class="infoUser">{{i +1}}</td>
          <td class="infoUser">{{late.user.fullName}}</td>
          <td class="infoUser">{{late.user.email}}</td>
          <td class="infoUser">
            <span>
              {{late.lateTimes}}
            </span>
            <i class="fas fa-pencil-alt"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf='showMsg' class="text-center" name='notFoundMsg'>Không tìm thấy kết quả phù hợp!</p>
  <div class="text-center">
    <div class="paging">
      <i class="fas fa-chevron-left"></i>
      <span>1/n</span>
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</div>
