.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.butn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.butn:active {
  color: gray;
  background-color: #73a1ff;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/*
and  button  import file*/
.search-inp {
  font-size: 20px;
  position: relative;
  line-height: 43px;
  padding: 0px 10px;
  border-radius:10px ;
  max-width: 300px;
  float: right;
}
.searchIcon {
  position: absolute;
  top: 14px;
  right: 25px;
  color: #bee5eb;
  font-size: 20px;
}
.searchIcon:hover {
  color: #58C3DC;
}



.tableScroll {
  max-height: 400px;
  overflow: auto;
}
.titleTable {
  margin-bottom: 0px;
}
th.titleField {
  width: 25%;
  text-align: center;
}
.infoUser {
  width: 25%;
  text-align: center;
  vertical-align: inherit;
  position: relative;
}
#myTable tr:hover {
  background-color: #bee5eb;
  cursor: pointer;
}
/*end table*/
.paging span{
  padding: 0 5px;
}
.paging i {
  cursor: pointer;
}
.infoUser i {
  position: absolute;
  top: 10px;
  right: 50px;
}
@media screen and (min-width: 1200px) {
  .infoUser i {
    right: 120px;
  }
}

.editIcon {
  color: #FF9D33;
  padding: 0 20px;
}

.editIcon:hover {
  text-shadow: 0px 0px 20px #000000;
}

.lateComingTimeBox {
  width: 50px
}

.sttTitle {
  width: 10%;
}

.nameTitle {
  width: 30%;
}

.emailTitle {
  width: 30%;
}

.lateTitle {
  width: 20%;
}

.manipulationTitle {
  width: 10%;
}

