<div class="container">
  <div class="row">
    <div class="col-6 col-md-6">
      <nav class="titleAciMan">
        <button  routerLink="confirm-acti" class="btn btn-hero-success btn-semi-round btnChoice">Xác nhận hoạt động</button>
      </nav>
    </div>
    <div class="col-6 col-md-6">
      <nav class="titleAciMan">
        <button  routerLink="create-acti" class="btn btn-hero-success btn-semi-round btnChoice">Tạo khung hoạt động</button>
      </nav>
    </div>
  </div>
    <router-outlet></router-outlet>
</div>
