<div class="container">
  <h4 class="mt-5">Danh sách khảo sát đã tạo: </h4>

  <div class="mt-5">
    <a href="#">
      <button type="button" class="btn btn-primary" (click)="clickKscn(template)">KHẢO SÁT CÁ NHÂN</button>
      <ng-template #template>
        <div class="modal-header cus-modal-header ">
          <div>
            <button type="button" class="cus-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--<h2 class="text-center">khảo sát cá nhân</h2>-->
        </div>
        <div class="modal-body">
          <span>1: Nhân viên này có hoàn thành tốt công việc hàng ngày?</span> <span><i class="fa fa-edit pl-2"></i></span>
          <div class="item mt-3">
            <div class="row">
              <div class="col-plus">
                <input type="checkbox">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <div class="col-plus">
                <input type="checkbox">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <div class="col-plus">
                <input type="checkbox">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <div class="col-plus">
                <input type="checkbox">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <div class="col-plus">
                <input type="checkbox">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <div class="col-plus">
                <input type="checkbox">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <div class="col-plus">
                <input type="checkbox">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <div class="col-plus">
                <input type="checkbox">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <div class="col-plus">
                <input type="checkbox">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <div class="col-plus">
                <input type="checkbox">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>

            </div>
          </div>

        </div>
      </ng-template>
    </a>
    <br>
    <a href="#">
      <button class="btn btn-success btn-semi-round btn-demo mt-3">KhẢO SÁT SEMINAR</button>
    </a>
  </div>

</div>
