<button type="button" class="btn btn-hero-info btn-demo mt-3" (click)="openModal(template)">KHẢO SÁT CÁ NHÂN</button>

<ng-template #template>
  <div class="modal-header modal-lg">
    <h4 class="mt-2">KHẢO SÁT CÁ NHÂN</h4>
    <button type="button" class="close pull-right cus-btn" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-fonts">
    <div class="title mb-3" *ngFor='let survey of listSurvey ' >
      <div class="row">
        <div class="col-md-10" *ngIf='!survey.showInput'>
          <span>Câu {{survey.id}} :</span>
          <span >{{survey.question}}</span>
        </div>
        <div class="col-md-2 text-left">
          <span class="pl-2"><i (click)='changeQuestion(survey)' class="fas fa-wrench"></i></span>
        </div>
      </div>
      <div>
        <input class='form-control' type="text" name="changeBinding" [(ngModel)]='survey.question' *ngIf='survey.showInput'>
      </div>

      <div class="rating text-center mt-2">
        <span class="far fa-star"></span>
        <span class="far fa-star"></span>
        <span class="far fa-star "></span>
        <span class="far fa-star"></span>
        <span class="far fa-star"></span>
      </div>
    </div>
    <div>
      <button class="btn btn-hero-success " (click)='changeUpdateSurvey()'>Lưu</button>
      <button class=" btn btn-outline-dark btn-gray" (click)="modalRef.hide()">Hủy</button>
    </div>

  </div>
</ng-template>
