<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="relative">
        <div>
          <select (change)="onChangeFilter($event.target.value)" class="form-control">
            <option value="0">- - Tất cả - -</option>
            <option value="1">Chưa xác nhận</option>
            <option value="2">Đã xác nhận</option>
            <option value="3">Đã hủy</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 ml-5 mr-5">
    <table class='table titleTable'>
      <thead>
      <tr>
        <th class="titleField" name="numberOrderField">STT</th>
        <th class="titleField">Tên hoạt động</th>
        <th class="titleField">Người tạo hoạt động</th>
        <th class="titleField">Ngày tạo hoạt động</th>
        <th class="titleField">Trạng thái</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="row ml-5 mr-5 tableScroll">
    <table class="table table-hover" id="myTable">
      <tbody>
      <tr *ngFor="let activities of listActivities,let i = index">
        <td class="infoUser" name="numberOrderField">{{i+ 1}}</td>
        <td class="infoUser" (click)="open(content)" *ngIf="activities.group.groupType.id==2">{{activities.name}}
          <ng-template let-c="close" let-d="dismiss" #content>
            <ngx-club-activity [dismiss]="d" [eventClubInfoCreated]="activities" [statusEvent]="activities.status"
                               (change)="onChange($event)" [activityName]="activities.name"
                               [creatorName]="activities.creator.fullName"></ngx-club-activity>
          </ng-template>
        </td>
        <td class="infoUser" (click)="open(content)" *ngIf="activities.group.groupType.id==4">{{activities.name}}
          <ng-template let-c="close" let-d="dismiss" #content>
            <ngx-support-activity [dismiss]="d" [listSelectedEvent]="activities.additionalConfig"
                                  [statusEvent]="activities.status"
                                  (change)="onChange($event)" [eventSupportInfoCreated]="activities"
                                  [dateCreated]="activities.beginDate" [activityName]="activities.name"
                                  [creatorName]="activities.creator.fullName">
            </ngx-support-activity>
          </ng-template>
        </td>
        <td class="infoUser">{{activities.creator.fullName}}</td>
        <td class="infoUser">{{activities.createdDate}}</td>
        <td *ngIf="activities.status === 1 && activities.group.groupType.id != 1" class="infoUser text-danger">Chưa xác nhận</td>
        <td *ngIf="activities.status === 2 && activities.group.groupType.id != 1" class="infoUser">Đã xác nhận</td>
        <td *ngIf="activities.status === 3 && activities.group.groupType.id != 1" class="infoUser">Đã hủy</td>
      </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf='showMsg' class="text-center mt-5" name='notFoundMsg'>Không tìm thấy kết quả phù hợp!</p>
</div>
