<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="relative">
        <input normalCharacterOnly [(ngModel)]="nameSearch" (click)='searchConfirmActi()'
               class="form-control search-inp" type="text" id="myInput"
               placeholder="Tìm kiếm Hoạt Động:" title="Type in a name"/>
        <span class="fas fa-search searchIcon"></span>
      </div>
    </div>
  </div>
  <div class="row mt-5 ml-5 mr-5">
    <table class='table titleTable'>
      <thead>
      <tr>
        <th class="titleField">STT</th>
        <th class="titleField text-left">Người tạo hoạt động</th>
        <th class="titleField" >Ngày tạo hoạt động</th>
        <th class="titleField">Trang thái</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="row ml-5 mr-5 tableScroll">
    <table class="table table-hover" id="myTable">
      <tbody>
      <tr *ngFor="let activities of listActivities,let i = index">
        <td class="infoUser" >{{i+ 1}}</td>
        <td (click)="open(content)" *ngIf="activities.group.groupType.id==2" class="activity-creating">{{activities.name}}
          <ng-template let-c="close" let-d="dismiss" #content>
            <ngx-club-activity [dismiss]="d" [eventClubInfoCreated]="activities" (change)="onChange($event)"></ngx-club-activity>
          </ng-template>
        </td>
        <td (click)="open(content)" *ngIf="activities.group.groupType.id==4" class="activity-creating">{{activities.name}}
          <ng-template let-c="close" let-d="dismiss" #content>
            <ngx-support-activity [dismiss]="d"  [listSelectedEvent]="activities.additionalConfig"
                                  (change)="onChange($event)" [eventSupportInfoCreated]="activities" [dateCreated]="activities.beginDate">
            </ngx-support-activity>
          </ng-template>
        </td>
        <td class="infoUser">{{activities.createdDate}}</td>
        <td *ngIf="activities.status === 1 && activities.group.groupType.id != 1" class="infoUser">Chưa xác nhận</td>
        <td *ngIf="activities.status === 2 && activities.group.groupType.id != 1" class="infoUser">Đã xác nhận</td>
        <td *ngIf="activities.status === 3 && activities.group.groupType.id != 1" class="infoUser">Đã hủy</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
