<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input normalCharacterOnly
             class="form-control search-inp" type="text" id="myInput"
             placeholder="Tìm kiếm Nhân Viên:" title="Type in a name"/>
      <span class="fas fa-search searchIcon"></span>
    </div>
  </div>
  <div class="row mt-5 ml-5 mr-5">
    <table class='table titleTable'>
      <thead>
      <tr>
        <th class="titleField">STT</th>
        <th class="titleField">Nhân Viên</th>
        <th class="titleField">Email</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="row ml-5 mr-5 tableScroll">
    <table class="table table-hover" id="myTable">
      <tbody>
      <tr >
        <td class="infoUser">1</td>
        <td (click)="open()" class="infoUser">Da bong giao huu</td>
        <td class="infoUser">24/8/2018</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
