<div class="container">
  <div class="modal-header modal-lg">
    <h4 class="mt-2">{{activityName}}</h4>
    <button type="button" class="close pull-right cus-btn" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-fonts">
    <div class="container">
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Tên hoạt động</h5>
        <input type="text" class="col-md-8 form-control" [(ngModel)]="eventName">
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Thời gian bắt đầu</h5>
        <input type="text" class="col-md-5 form-control" placeholder="Ngày/Tháng/Năm" [(ngModel)]="startDate" ngbDatepicker #startDay="ngbDatepicker"
               (click)="startDay.toggle()">
        <ngb-timepicker class="col-md-3" [(ngModel)]="startTime" [spinners]="spinners" name="timeInput"></ngb-timepicker>
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Thời gian kết thúc</h5>
        <input type="text" class="col-md-5 form-control" placeholder="Ngày/Tháng/Năm" [(ngModel)]="endDate" ngbDatepicker
               #endDay="ngbDatepicker" (click)="endDay.toggle()">
        <ngb-timepicker class="col-md-3" [(ngModel)]="endTime" [spinners]="spinners" name="timeInput"></ngb-timepicker>
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4">Địa điểm</h5>
        <input type="text" class="col-md-8 form-control" [(ngModel)]="eventAddress">
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Thành viên tham gia</h5>
        <div class="col-md-8 mat-app-background basic-container form-control"  name="participant">
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let user of userClone; let i = index"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(user, i)">
                <mat-icon matChipAvatar name="iconAvatar">
                  <img src="{{user.avatar}}" name="iconMem">
                </mat-icon>
                {{user.fullName}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                #userInput
                [formControl]="userCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">

              <mat-option *ngFor="let user of filteredUsers | async;" [value]="user">

                <img name="avatarMem" src="{{user.avatar}}">
                {{user.fullName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-5" *ngIf="isAdmin === false">
        <div class="groupButton">
          <button class="btn btn-hero-success saveButton" *ngIf = 'groupId == null' (click)="onSubmit($event)">Lưu</button>
          <button class="btn btn-hero-success saveButton" *ngIf = 'groupId != null' (click)="onUpdate($event)">Lưu</button>
          <button class="btn btn-hero-warning" (click)="closeModal()">Huỷ</button>
        </div>
      </div>
      <div class="row mt-5" *ngIf="isAdmin === true">
        <div class="groupButton">
          <button class="btn btn-hero-success saveButton"  (click)="onSubmitEvent(2)">Xác nhận</button>
          <button class="btn btn-hero-warning" (click)="onSubmitEvent(3)">Huỷ</button>
        </div>
      </div>
    </div>
  </div>

</div>
