<nb-card class="listActivity nb-card-custom" name="activityCreating">
  <div class="container">
    <div class="col-md-12">
      <div class="search">
        <div class="form-group row">
          <div class="col-sm-6 search-div">
            <input normalCharacterOnly oncopy='return false' onpaste='return false' [(ngModel)]="nameSearch"
                   class="form-control search-inp" type="text" id="myInput" (keyup)='handleKeyDown($event)'
                   placeholder="Tìm kiếm hoạt động:" title="Type in a name"/>
            <span class="fas fa-search searchIcon" (click)='searchActivities()'></span>
          </div>
        </div>
      </div>
      <div class="row ml-5 mr-5 mt-5">
        <table class="table titleTable">
          <thead>
          <tr>
            <th>STT</th>
            <th class="activity-creating">Hoạt động</th>
            <th class="dateCreated">Ngày tạo</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="row ml-5 mr-5 tableScroll">
        <table class="table table-hover" id="myTable">
          <tbody>
          <tr *ngFor="let event of eventList; let i = index">
            <td *ngIf="event.group.groupType.id !=3" name="numberOrder">{{i + 1}}</td>

            <!--Seminar-->
            <td (click)="open(content)" *ngIf="event.group.groupType.id==1" class="activity-creating">{{event.name}}
              <ng-template let-c="close" let-d="dismiss" #content>
                <ngx-seminar-activity [dismiss]="d" [eventSeminarInfoCreated]="event" [groupId]="event.group.groupType.id"
                                      (change)="onChange($event)"></ngx-seminar-activity>
              </ng-template>
            </td>

            <!--Club-->
            <td (click)="open(content)" *ngIf="event.group.groupType.id==2" class="activity-creating">{{event.name}}
              <ng-template let-c="close" let-d="dismiss" #content>
                <ngx-club-activity [dismiss]="d" [eventClubInfoCreated]="event" [groupId]="event.group.groupType.id"
                                   (change)="onChange($event)"></ngx-club-activity>
              </ng-template>
            </td>

            <!--Support-->
            <td (click)="open(content)" *ngIf="event.group.groupType.id==4" class="activity-creating">{{event.name}}
              <ng-template let-c="close" let-d="dismiss" #content>
                <ngx-support-activity [dismiss]="d" [listSelectedEvent]="event.additionalConfig" [eventSupportInfoCreated]="event"
                                      [dateCreated]="event.beginDate" [groupId]="event.group.groupType.id" (change)="onChange($event)"></ngx-support-activity>
              </ng-template>
            </td>
            <!--Type Created Activities-->
            <td class="dateCreated">{{event.createdDate}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <p *ngIf='showMsg' name='notFoundMsg'>Không tìm thấy kết quả phù hợp!</p>
    </div>
  </div>
</nb-card>
