<div class="modal-header modal-lg">
  <button type="button" class="close pull-right cus-btn" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body modal-fonts">
  <div class="row mt-1 titleAlert" *ngIf="alert === true">
    <nav>Bạn chưa hoàn thành khảo sát này!</nav>
  </div>
  <div class="row ml-5 mr-5">
    <div class="col-md-3">
      <p>Tên hoạt động</p>
    </div>
    <div class="col-md-9">
      <p class="seminar-title pl-5">{{seminarEvent.name}}</p>
    </div>
  </div>
  <div class="row ml-5 mr-5">
    <div class="col-md-3">Thời gian diễn ra</div>
    <div class="col-md-9">
      <p class="seminar-date pl-5">{{seminarEvent.beginDate}} - {{seminarEvent.endDate}}</p>
    </div>
  </div>
  <div class="survey-seminar">
    <div class="row mt-5 ml-5 mr-5" *ngFor="let host of eventUserListFiltered; let i = index">
      <div class="col-md-3 text-center">
        <span class="seminar-host">Host</span>
      </div>
      <div class="col-md-9">
        <h5 class="name-title pl-5">{{host.user.fullName}}</h5>
        <div class="mt-3 pl-5">
          <div class="w-100" *ngFor="let question of listQuestion">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input"
                     (change)="changeSelect(host.user.username, question)" name="hostNumber{{i}}"
                     value="{{question.rating}}" checked="{{question.checked}}">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{question.content}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="mt-5 s-btn" *ngIf="surveyFinishing == false">
    <button class="btn btn-hero-success" (click)="createSeminarSurvey()">Gửi</button>
    <button class="btn btn-hero-warning pull-right" (click)="closeModal()">Hủy</button>
  </div>

</div>
