<nb-card>
  <nb-card-body class="row ml-5 mr-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 mb-5">
          <div class="titleManagement">
            <h4>
              QUẢN LÝ DỰ ÁN
            </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-hero-success mb-5" *ngIf="!isAdding" (click)="open(content)" [disabled]="isEditing">
            Thêm
            dự án
          </button>
          <ng-template let-c="close" let-d="dismiss" #content>
            <project-management-confirm [dismiss]="d" (addEvent)="onAddProject($event)"></project-management-confirm>
          </ng-template>
        </div>
      </div>
      <div class="row ml-5 mr-5">
        <table class="table titleTable">
          <thead>
          <tr>
            <th>Tên dự án</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th>Tùy chỉnh</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="row ml-5 mr-5 tableScroll">
        <div class="table scrollTable">
          <table class="table table-hover">
            <tbody>
            <div class="row border-top border-bottom"
                 [ngClass]="{'activeRow': project.active == 1, 'deactiveRow': project.active == 0}"
                 *ngFor="let project of projects">
              <div class="col-md-9">
                <p [hidden]="project.id == projectIdEdit" class="nameProject">{{project.name}}</p>
                <input type="text" class="form-control lineHeight" [hidden]="project.id != projectIdEdit"
                       [value]="project.name" #editName
                       (keyup.enter)="updateProjectName(project, editName.value, content)">
              </div>
              <div class="col-md-3">
                <button class="btn btn-hero-success buttonSpace" *ngIf="project.active == 1"
                        (click)="deactive(project, content)" [disabled]="isAdding || isEditing"><i
                  class="far fa-check-circle  fa-2x"></i></button>
                <button class="btn btn-hero-success buttonSpace" *ngIf="project.active == 0"
                        (click)="active(project, content)" [disabled]="isAdding || isEditing"><i
                  class="fas fa-ban fa-2x"></i>
                </button>
                <button class="btn btn-hero-success buttonSpace" [hidden]="project.id == projectIdEdit"
                        (click)="showEditBox(project)" [disabled]="isAdding || isEditing"><i
                  class="fas fa-pencil-alt  fa-2x"></i></button>
                <button class="btn btn-hero-success buttonSpace" [hidden]="project.id != projectIdEdit"
                        [disabled]="isAdding"
                        (click)="updateProjectName(project, editName.value, content)"><i class="fas fa-save fa-2x"></i>
                </button>
                <button class="btn btn-hero-success buttonSpace" (click)="deleteProject(project, content)"
                        [disabled]="isAdding || isEditing"><i class="fas fa-trash-alt fa-2x"></i></button>
                <div>
                  <ng-template let-c="close" let-d="dismiss" #content>
                    <dialog-confirmation [dismiss]="d" [choosedProjectId]="project.id"
                                         (confirmation)="receiveConfirmation($event)" [msg]="msg"
                                         [buttonTitle]="buttonTitle"></dialog-confirmation>
                  </ng-template>
                </div>
              </div>
            </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>


