.titleManagement {
  text-align: center;
  h4 {
    display: inline-block;
    margin: auto;
    padding: 15px 20px;
    border: 4px solid #5DCFE3;
  }
}

.tableScroll {
  max-height: 400px;
  overflow: auto;
}

.search {
  font-size: 25px;
  width: 50%;
  margin: auto;
  .search-div {
    margin: auto;
    .search-inp {
      font-size: 20px;
    }
  }
}

#myTable tr:hover {
  background-color: #bee5eb;
}

.titleTable {
  margin-bottom: 0px;
}

[name$='notFoundMsg'] {
  font-size: 14px;
  text-align: center;
}

[name$='projectTitle'] {
  width: 40%;
  vertical-align: inherit;
}
[name$='projectTitle'] p {
  margin: 0;
}

[name$='activeIcon'] {
  color: green;
}

.projectDetail {
  width: 20%;
  text-align: center;
  vertical-align: inherit;
}

.swapIcon {
  color: #5DCFE3
}
.swapIcon:hover {
  text-shadow: 0px 0px 20px #000000;
}

.deleteIcon {
  color: red;
}

.deleteIcon:hover {
  text-shadow: 0px 0px 20px #000000;
}
.editIcon {
  color: #FF9D33;
  padding: 0 20px;
}

.editIcon:hover {
  text-shadow: 0px 0px 20px #000000;
}
.searchIcon {
  float: right;
  margin-right: 12px;
  margin-top: -40px;
  position: relative;
  z-index: 2;
  color: #bee5eb;
}
.searchIcon:hover {
  color: #58C3DC;
}
