<nb-card>
  <nb-card-body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 mb-5">
          <div class="titleManagement">
            <h4>
              QUẢN LÝ DỰ ÁN
            </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-hero-success mb-5" *ngIf="add" (click)="addProject()">Thêm dự án</button>
          <div class="row" *ngIf="!add">
            <input type="text" class="form-control mb-5 col-md-10" (keypress)="confirmAdd($event)" #projectName
                   [(ngModel)]="newProject.name">
            <i class="fas fa-times col-md-2"></i>
          </div>
        </div>
      </div>
      <div class="row ml-5 kpiRow" *ngFor="let project of projects;">
        <div class="col-md-6">
          <p [hidden]="project.id == projectIdEdit" class="nameProject">{{project.name}}</p>
          <input type="text" class="form-control lineHeight" [hidden]="project.id != projectIdEdit" [value]="project.name" #editName (keyup.enter)="updateProjectName(project, editName.value)">
        </div>
        <div class="col-md-3 listIcon">
          <i class="far fa-check-circle" *ngIf="project.active == 1" (click)="Deactive(project, content)"></i>
          <i class="fas fa-ban" *ngIf="project.active == 0" (click)="Active(project, content)"></i>
          <i class="fas fa-pencil-alt" [hidden]="project.id == projectIdEdit" (click)="showEditBox(project)"></i>
          <i class="fas fa-save" [hidden]="project.id != projectIdEdit" (click)="updateProjectName(project, editName.value, content)"></i>
          <i class="fas fa-trash-alt" (click)="deleteProject(project, content)"></i>
          <div>
            <ng-template let-c="close" let-d="dismiss" #content>
              <dialog-confirmation [dismiss]="d" [choosedProjectId]="project.id" (confirmation)="receiveConfirmation($event)" [msg]="msg"></dialog-confirmation>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>


