.clubButton{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.cancelButton {
  margin-left: 65%;
  margin-right: 5%;
}
.submitButton {
  margin-right: 5%;
}
h5, h6 {
  padding-top: 12px;
}
.formStruc {
  margin-left: 4%;
}
