<div class="container">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeInfoModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <form action="" class="form-group">
      <div>
        <p *ngIf="closeConfirm" class="alertMsg">{{closeWarningMsg}}</p>
      </div>
      <div>
        <p *ngIf="submitDoneMsg" class="alertMsg">{{submitDoneMsg}}</p>
      </div>
      <div>
        <p *ngIf="emailWarning" class="alertMsg">{{emailWarning}}</p>
      </div>
      <div class="row">
        <div class="col-md-5">
          <input-file [inputId]="avatarImg" (acceptedFile)="saveAvatarImg($event)" [placeholder]="picture"
                      (ngModel)="avatar">
          </input-file>
        </div>
        <div class="col-md-7">
          <div class="userName">
            <nav>
              <h4>
                {{currentUser.fullName}}
              </h4>
            </nav>
            <nav>
              <h4 *ngIf="currentUser.userRole.indexOf('ROLE_ADMIN')>=0">Admin</h4>
              <h4 *ngIf="currentUser.userRole.indexOf('ROLE_MAN')>=0">Man</h4>
              <h4 *ngIf="currentUser.userRole.indexOf('ROLE_EMPLOYEE')>=0 && currentUser.userRole.length == 1">
                Employee</h4>
            </nav>
          </div>
        </div>
      </div>
      <div class="mt-5 userInfo">
        <div class="row">
          <h6 class="col-md-4 userInfo">Ngày sinh:</h6>
          <input class="col-md-8 form-control" placeholder="Năm-Tháng-Ngày" (keypress)="deleteOnly($event)"
                 name="d1" [(ngModel)]="birthday" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()">
        </div>
        <div class="row mt-2">
          <h6 class="col-md-4 userInfo">Số điện thoại:</h6>
          <input type="tel" class="col-md-8 form-control" phoneNumberOnly oncopy="return false" onpaste="return false" [(ngModel)]="phoneNumber" name="phoneNumber">
        </div>
        <div class="row mt-2">
          <h6 class="col-md-4 userInfo">Địa chỉ:</h6>
          <input type="text" class="col-md-8 form-control" [(ngModel)]="address" name="address">
        </div>
        <div class="row mt-2">
          <h6 class="col-md-4 userInfo">Email:</h6>
          <input type="email" class="col-md-8 form-control" [(ngModel)]="secondaryEmail" name="secondaryEmail">
        </div>
        <div class="row mt-2">
          <h6 class="col-md-4 userInfo">Skype:</h6>
          <input type="text" class="col-md-8 form-control" [(ngModel)]="skype" name="skype">
        </div>
        <div class="row mt-2">
          <h6 class="col-md-4 userInfo">Ngày bắt đầu làm việc:</h6>
          <input class="col-md-8 form-control" placeholder="Năm-Tháng-Ngày" (keypress)="deleteOnly($event)"
                 name="d" [(ngModel)]="dpStartWorkDay" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
        </div>
        <div class="row personButton mt-3 align-middle">
          <button class="btn btn-hero-success submitButton" (click)="saveChange()">Lưu thay đổi</button>
          <button class="btn btn-hero-warning submitButton" (click)="closeInfoModal()">Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>
