.seminarButton{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.cancelButton {
  margin-left: 65%;
  margin-right: 5%;
}
.submitButton {
  width: 20%;
  margin-right: 5%;
}
h5, h6 {
  padding-top: 10px;
}
.formStruc {
  margin-left: 4%;
}
.titleAlert {
  nav {
    margin: auto;
    color: red;
  }
}
