<div class="modal-body modal-lg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button *ngIf="groupId == null" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
        <button *ngIf="groupId != null" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <h5>Hoạt động</h5>
      </div>
      <div class="col-md-6">
        <form action="" class="form-group">
          <input type="text" class="form-control" name="actiName" [(ngModel)]="activityName"/>
        </form>
      </div>
    </div>
    <div class="row">
      <h5 class="ml-3">Cơ cấu tính điểm:</h5>
    </div>
    <div class="mt-2">
      <form action="" class="form-group">
        <div class="row mt-2">
          <div class="col-md-8 ml-5">
            <h5>Đối tượng</h5>
          </div>
          <div class="col-md-2 formStruc">
            <h5>Điểm</h5>
          </div>
        </div>
        <div class="row mt-2">
          <h6 class="col-md-8 ml-5">Host</h6>
          <input type="text" class="col-md-2  form-control formStruc" name="hostPoint" [(ngModel)]="createdActivity.host">
        </div>
        <div class="row mt-2">
          <h6 class="col-md-8 ml-5">Thành viên</h6>
          <input type="text" class=" col-md-2 form-control formStruc" name="memPoint" [(ngModel)]="createdActivity.member">
        </div>
        <div class="row mt-2">
          <h6 class="col-md-8 ml-5">Dự thính</h6>
          <input type="text" class=" col-md-2 form-control formStruc" name="listenerPoint" [(ngModel)]="createdActivity.listener">
        </div>
        <div class="row">
          <div class="seminarButton mt-5">
            <button *ngIf="groupId == null" class="btn btn-hero-warning cancelButton" (click)="onClose()">Huỷ</button>
            <button *ngIf="groupId != null" class="btn btn-hero-warning cancelButton" (click)="dismiss()">Huỷ</button>
            <button *ngIf="groupId == null" class="btn btn-hero-success submitButton" (click)="onAddSeminar($event)">Lưu</button>
            <button *ngIf="groupId != null" class="btn btn-hero-success submitButton" (click)="onUpdateSeminar($event)">Lưu</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
