<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <div class="row">
        <div class="col md-3 mt-3 text-right">Tháng</div>
        <div class="col md-9">
          <select class="form-control ctm-select">
            <option value="0">- - Tất cả - -</option>
            <option value="1">Chưa xác nhận</option>
            <option value="2">Đã xác nhận</option>
            <option value="3">Đã hủy</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col md-3 mt-3 text-right">Tháng</div>
        <div class="col md-9">
          <select class="form-control">
            <option value="0">- - Tất cả - -</option>
            <option value="1">Chưa xác nhận</option>
            <option value="2">Đã xác nhận</option>
            <option value="3">Đã hủy</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col md-3 mt-3 text-right">Tháng</div>
        <div class="col md-9">
          <select class="form-control">
            <option value="0">- - Tất cả - -</option>
            <option value="1">Chưa xác nhận</option>
            <option value="2">Đã xác nhận</option>
            <option value="3">Đã hủy</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col md-12">
          <button class="btn btn-hero-success mb-5">
            Lọc
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
