<div class="container">
  <div class="modal-header modal-lg">
    <h4 class="mt-2">{{activityName}}</h4>
    <button type="button" class="close pull-right cus-btn" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-fonts">
    <div class="container">
      <div class="row mt-1 titleAlert" *ngIf="alert === true">
        <nav>Vui lòng nhập đầy đủ các thông tin!</nav>
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Tên hoạt động</h5>
        <input type="text" class="col-md-8 form-control" [(ngModel)]="eventName">
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Thời gian bắt đầu</h5>
        <input type="text" class="col-md-5 form-control" [(ngModel)]="startDate" ngbDatepicker #startDay="ngbDatepicker"
               (click)="startDay.toggle()" [readonly]="true">
        <ngb-timepicker class="col-md-3" [(ngModel)]="startTime" [spinners]="spinners"
                        name="timeInput"></ngb-timepicker>
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Thời gian kết thúc</h5>
        <input type="text" class="col-md-5 form-control" [(ngModel)]="endDate" ngbDatepicker #endDay="ngbDatepicker"
               (click)="endDay.toggle()" [readonly]="true">
        <ngb-timepicker class="col-md-3" [(ngModel)]="endTime" [spinners]="spinners" name="timeInput"></ngb-timepicker>
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Host</h5>
        <div class="col-md-8 mat-app-background basic-container form-control" name="host">
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipListHost>
              <mat-chip>
                <mat-icon matChipAvatar name="iconAvatar">
                  <img src="{{userDefault.avatar}}" name="iconMem">
                </mat-icon>
                {{userDefault.fullName}}
              </mat-chip>
              <mat-chip
                *ngFor="let user of userCloneHost; let i = index"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeHost(user, i)">
                <mat-icon matChipAvatar name="iconAvatar">
                  <img src="{{user.avatar}}" name="iconMem">
                </mat-icon>
                {{user.fullName}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                #userHostInput
                [formControl]="userCtrl"
                [matAutocomplete]="autoHost"
                [matChipInputFor]="chipListHost"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addHost($event)">
            </mat-chip-list>
            <mat-autocomplete #autoHost="matAutocomplete" (optionSelected)="selectedHost($event)">

              <mat-option *ngFor="let user of filteredHostUsers | async;" [value]="user">

                <img name="avatarMem" src="{{user.avatar}}">
                {{user.fullName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Người tham gia</h5>
        <div class="col-md-8 mat-app-background basic-container form-control" name="participant">
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipListParticipant>
              <mat-chip
                *ngFor="let user of userCloneParticipant; let i = index"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeParticipant(user, i)">
                <mat-icon matChipAvatar name="iconAvatar">
                  <img src="{{user.avatar}}" name="iconMem">
                </mat-icon>
                {{user.fullName}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                #userParticipantInput
                [formControl]="userParticipantCtrl"
                [matAutocomplete]="autoParticipant"
                [matChipInputFor]="chipListParticipant"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addParticipant($event)">
            </mat-chip-list>
            <mat-autocomplete #autoParticipant="matAutocomplete" (optionSelected)="selectedParticipant($event)">

              <mat-option *ngFor="let user of filteredHostUsers | async;" [value]="user">

                <img name="avatarMem" src="{{user.avatar}}">
                {{user.fullName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4">Dự thính</h5>
        <div class="col-md-8 mat-app-background basic-container form-control" name="listener">
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipListListener>
              <mat-chip
                *ngFor="let user of userCloneListener; let i = index"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeListener(user, i)">
                <mat-icon matChipAvatar name="iconAvatar">
                  <img src="{{user.avatar}}" name="iconMem">
                </mat-icon>
                {{user.fullName}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                #userListenerInput
                [formControl]="userListenerCtrl"
                [matAutocomplete]="autoListener"
                [matChipInputFor]="chipListListener"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addListener($event)">
            </mat-chip-list>
            <mat-autocomplete #autoListener="matAutocomplete" (optionSelected)="selectedListener($event)">

              <mat-option *ngFor="let user of filteredHostUsers | async;" [value]="user">

                <img name="avatarMem" src="{{user.avatar}}">
                {{user.fullName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="groupButton">
          <button class="btn btn-hero-success saveButton" *ngIf="groupId === null" (click)="addSeminarEvent($event)">Lưu</button>
          <button class="btn btn-hero-success saveButton" *ngIf="groupId != null" (click)="updateSeminarEvent($event)">Lưu</button>
          <button class="btn btn-hero-warning" (click)="closeModal()">Huỷ</button>
        </div>
      </div>
    </div>
  </div>

</div>
