<div class="container">
  <div class="modal-header modal-lg">
    <h4 class="mt-2">SEMINAR</h4>
    <button type="button" class="close pull-right cus-btn" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-fonts">
    <div class="container">
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Tên hoạt động</h5>
        <input type="text" class="col-md-8 form-control">
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Thời gian bắt đầu</h5>
        <input type="text" class="col-md-5 form-control" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()">
        <ngb-timepicker class="col-md-3" [(ngModel)]="time" [spinners]="spinners" name="timeInput"></ngb-timepicker>
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Thời gian kết thúc</h5>
        <input type="text" class="col-md-5 form-control" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()">
        <ngb-timepicker class="col-md-3" [(ngModel)]="time" [spinners]="spinners" name="timeInput"></ngb-timepicker>
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Host</h5>
        <div class="col-md-8 mat-app-background basic-container form-control"  name="host">
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let fruit of fruits"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(fruit)">
                <mat-icon matChipAvatar name="iconAvatar">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJdtQSpRDlcriWT5zZS-8LR-kSVmxZ3QV-suuM7yn1c5t_2VCU" name="avatarMem">
                </mat-icon>
                {{fruit}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                #fruitInput
                [formControl]="fruitCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">

              <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">

                <img width="50px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJdtQSpRDlcriWT5zZS-8LR-kSVmxZ3QV-suuM7yn1c5t_2VCU">
                {{fruit}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4 requiredInput">Người tham gia</h5>
        <div class="col-md-8 mat-app-background basic-container form-control"  name="participant">
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let fruit of fruits"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(fruit)">
                <mat-icon matChipAvatar name="iconAvatar">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJdtQSpRDlcriWT5zZS-8LR-kSVmxZ3QV-suuM7yn1c5t_2VCU" name="avatarMem">
                </mat-icon>
                {{fruit}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                #fruitInput
                [formControl]="fruitCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">

              <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">

                <img width="50px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJdtQSpRDlcriWT5zZS-8LR-kSVmxZ3QV-suuM7yn1c5t_2VCU">
                {{fruit}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <h5 class="col-md-4">Dự thính</h5>
        <div class="col-md-8 mat-app-background basic-container form-control"  name="listener">
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let fruit of fruits"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(fruit)">
                <mat-icon matChipAvatar name="iconAvatar">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJdtQSpRDlcriWT5zZS-8LR-kSVmxZ3QV-suuM7yn1c5t_2VCU" name="avatarMem">
                </mat-icon>
                {{fruit}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                #fruitInput
                [formControl]="fruitCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">

              <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">

                <img width="50px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJdtQSpRDlcriWT5zZS-8LR-kSVmxZ3QV-suuM7yn1c5t_2VCU">
                {{fruit}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-5">
        <div class="groupButton">
          <button class="btn btn-hero-success saveButton">Lưu</button>
          <button class="btn btn-hero-warning" (click)="closeModal()">Huỷ</button>
        </div>
      </div>
    </div>
  </div>

</div>
