<div class="container">
    <div class="row mt-5 ml-5 mr-5">
      <div class="col-md-6">
        <button class="btn btn-hero-success mb-5" (click)="openModalAddNewTBD(content)">Thêm hoạt động</button>
      </div>
      <div class="col-md-6">
        <input normalCharacterOnly name="word" [(ngModel)]="keyword" (keyup)="handleKeyDown($event)"
               class="form-control search-inp" type="text" id="myInput"
               placeholder="Tìm kiếm hoạt động:" title="Type in a name"/>
        <span class="fas fa-search searchIcon" (click)="searchByKeyword()"></span>
      </div>
    </div>
  <div class="row ml-5 mt-5 mr-5">
    <table class='table titleTable'>
      <thead>
      <tr>
        <th class="titleField">Hoạt động</th>
        <th class="titleField">Thời gian tạo</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="row ml-5 mr-5 tableScroll">
    <table class="table table-hover" id="myTable">
      <tbody>
      <tr *ngFor="let teambuilding of listEventTeambuilding">
        <td class="infoUser" (click)="viewEventTeambuilding(content, teambuilding)">{{teambuilding.name}}</td>
        <td class="infoUser">{{teambuilding.createdDate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template let-c="close" let-d="dismiss" #content>
  <ngx-teambuilding-activity  (clickOutside)="close($event)" [dismiss]="d" [teambuildingView]="teambuildingView"
                              (addedTeambuilding)="addEventTeambuilding($event)"></ngx-teambuilding-activity>
</ng-template>
