<div class="container">
  <div class="row">
    <div class="col-7 col-md-7">
      <nb-card>
        <nb-card-header>Hoạt động gần đây</nb-card-header>
        <nb-badge text="99+" status="danger" position="top left"></nb-badge>
        <nb-card-body style="overflow-y: scroll;max-height: 250px">

          <nb-card *ngFor="let data of [1,2,3,4,5,6,7,8,9,0]">
            <nb-card-body>data</nb-card-body>
          </nb-card>

        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-5 col-md-5">
      <nb-card>
        <nb-card-header style="position: relative">Thông báo</nb-card-header>
        <nb-badge text="99+" status="danger" position="top left"></nb-badge>

        <nb-card-body style="overflow-y: scroll;max-height: 250px">

          <nb-card *ngFor="let data of [1,2,3,4,5,6,7,8,9,0]">
            <nb-card-body>data</nb-card-body>
          </nb-card>

        </nb-card-body>

      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12">
      <nb-card>
        <nb-card-header>Danh sách thứ hạng</nb-card-header>
        <nb-card-body>
          <nb-tabset fullWidth>

            <nb-tab style="overflow-y: scroll;max-height:800px" tabTitle="Top của tháng">

              <nb-card
                *ngFor="let dataOfMonth of ['Lê Văn Tuấn','Lê Văn hải','Lê Văn Nam','Nguyễn Văn Hải','Nguyễn Văn Nam'] index as i">
                <nb-user size="large" style="font-weight: bold;" badgeText="{{i+1}}"
                         picture="https://images.all-free-download.com/images/graphiclarge/harry_potter_icon_6825007.jpg"
                         name="{{dataOfMonth}}"></nb-user>

              </nb-card>

            </nb-tab>

            <nb-tab style="overflow-y: scroll;max-height:800px" tabTitle="Top của năm">

              <nb-card
                *ngFor="let dataOfYear of ['Lê Văn hải','Nguyễn Văn Nam','Lê Văn Nam','Nguyễn Văn Hải','Hoàng Văn Nam','Nguyễn Văn Thuận','Hoàng Văn Sơn','Nguyễn Văn Hải','Hoàng Văn Nam','Nguyễn Văn Thuận','Hoàng Văn Sơn','Nguyễn Văn Hải','Hoàng Văn Nam','Nguyễn Văn Thuận','Hoàng Văn Sơn']  index as i">
                <nb-user size="large" style="font-weight: bold;" badgeText="{{i+1}}"
                         picture="https://images.all-free-download.com/images/graphiclarge/harry_potter_icon_6825007.jpg"
                         name="{{dataOfYear}}"></nb-user>
              </nb-card>

            </nb-tab>

          </nb-tabset>

        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
