@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px;
  }
}

.modal-header h4 {
  max-width: 200px;
  margin: auto;
}

.cus-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal-fonts {
  font-size: 17px;
}

.groupButton {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.saveButton {
  margin-left: 40%;
  margin-right: 5%;
}

h5 {
  padding-top: 12px;
}

h5.requiredInput:after {
  content: " *";
  color: red;
}

textarea {
  min-height: 150px;
  max-height: 200px;
}

[name$='supportActivities'] {
  margin: 0 255px;
}

[name$='iconMem'] {
  position: absolute;
  width: 40px;
  height: 40px;

}
[name$='avatarMem'] {
  width: 40px;
  height: 40px;

}
.next-number-picker{
  width: 108px;
  background: gray;
}
.next-number-picker-handler-down, .next-number-picker-handler-up{
  width:32px;
  height:32px;
}

