<div class="modal-header modal-lg">
  <h4 class="mt-2">SUPPORT CHUNG</h4>
  <button type="button" class="close pull-right cus-btn" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body modal-fonts">
  <div class="container">
    <div class="row mt-2 ml-3">
      <h5 class="col-md-4 requiredInput">Ngày diễn ra hoạt động</h5>
      <input type="text" class="col-md-6 form-control" ngbDatepicker #date="ngbDatepicker" [(ngModel)]="startDate" (click)="date.toggle()">
    </div>
    <div class="row mt-3" name="supportActivities" *ngFor="let supportEvent of supportEvents; let $index = index">
      <div class="col-md-4"></div>
      <div class="col-md-8 position-relative">
        <nb-checkbox class="support-checkbox" [(value)]="supportEvent.status"
         (change)='changeSelect(supportEvent, $event)'>{{supportEvent.type}}
        </nb-checkbox>
        <input class="support-number form-control" type="number" [(ngModel)]="supportEvent.quantity" *ngIf="supportEvent.status === true">
      </div>
    </div>
    <div class="row mt-5">
      <div class="groupButton">
        <button class="btn btn-hero-success saveButton" *ngIf="groupId === null" (click)="addSupportEvent()">Lưu</button>
        <button class="btn btn-hero-success saveButton" *ngIf="groupId !== null" (click)="updateSupportEvent($event)">Lưu</button>
        <button class="btn btn-hero-warning" (click)="closeModal()">Huỷ</button>
      </div>
    </div>
  </div>
</div>
