<div class="modal-header modal-lg">
  <h4 class="mt-2">SUPPORT CHUNG</h4>
  <button type="button" class="close pull-right cus-btn" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body modal-fonts">
  <div class="container">
    <div class="row mt-2">
      <h5 class="col-md-4 requiredInput">Ngày diễn ra hoạt động</h5>
      <input type="text" class="col-md-8 form-control">
    </div>
    <div class="row mt-2">
      <nb-checkbox>Dọn dẹp</nb-checkbox>
    </div>
    <div class="row mt-5">
      <div class="groupButton">
        <button class="btn btn-hero-success saveButton">Lưu</button>
        <button class="btn btn-hero-warning" (click)="closeModal()">Huỷ</button>
      </div>
    </div>
  </div>
</div>
