<p class='mb-5'>QUẢN LÍ TÀI KHOẢN</p>
<div class="search">
  <div class="form-group row">
    <label class="col-sm-6 col-form-label">Tìm kiếm tài khoản</label>
    <div class="col-sm-6">
      <input class="form-control search-inp" type="text" id="myInput" (keyup)="mySearchFunction()" placeholder="Search for names.." title="Type in a name">
    </div>
  </div>
</div>
<nb-card>
<div id="managementContent">
  <table class='table table-hover' id="myTable">
    <tr>
      <th >User name</th>
      <th >User role</th>
      <th >Edit role</th>
    </tr>
    <tr *ngFor='let userInfo of listUser'>
      <td>{{userInfo.username}}</td>
      <td id='{{userInfo.username}}'>{{userInfo.userRole[0].slice(5)}}</td>
      <td>
        <button id='{{userInfo.username}}-edit' class='btn btn-hero-success' (click)='editRole($event, userInfo.username)'>Sửa</button>
        <button style='display: none' id='{{userInfo.username}}-save' class='btn btn-hero-warning' (click)="open(content)">Lưu</button>
        <ng-template let-c="close" let-d="dismiss" #content>
         <ngx-ask></ngx-ask>
        </ng-template>
      </td>
    </tr>
  </table>
</div>
</nb-card>
