<p class='mb-5'>QUẢN LÍ TÀI KHOẢN</p>
<div class="search">
  <div _ngcontent-c28="" class="form-group row">
    <label _ngcontent-c28="" class="col-sm-6 col-form-label" for="inputEmail1">Tìm kiếm tài khoản</label>
    <div _ngcontent-c28="" class="col-sm-6">
      <!--<input _ngcontent-c28=""  id="inputEmail1" placeholder="" type="email">-->
      <input class="form-control search-inp" type="text" id="myInput" (keyup)="myFunction()" placeholder="Search for names.." title="Type in a name">
    </div>
  </div>
</div>
  <!--<div id="managementContent">-->
    <!--<div class="details">-->
      <!--<p class='name'>Le Duc Thang</p>-->
      <!--<p class='role' *ngIf='show'>{{select}}</p>-->
      <!--<p class="role" *ngIf='!show'>-->
        <!--<select [(ngModel)]='select'>-->
          <!--<option>Man</option>-->
          <!--<option>Employee</option>-->
        <!--</select>-->
      <!--</p>-->
      <!--<p class='fix' *ngIf='show'><button class='btn btn-warning' (click)='edit()'>Sửa</button></p>-->
      <!--<p class='fix' *ngIf='!show'><button class='btn btn-warning' (click)='openAskSaveModal()'>Lưu</button></p>-->
    <!--</div>-->
    <!--<div class="details">-->
      <!--<p class='name'>Le Ngoc Nghiem Duong</p>-->
      <!--<p class='role' *ngIf='show'>{{select}}</p>-->
      <!--<p class="role" *ngIf='!show'>-->
        <!--<select [(ngModel)]='select'>-->
          <!--<option>Man</option>-->
          <!--<option>Employee</option>-->
        <!--</select>-->
      <!--</p>-->
      <!--<p class='fix' *ngIf='show'><button class='btn btn-warning' (click)='edit()'>Sửa</button></p>-->
      <!--<p class='fix' *ngIf='!show'><button class='btn btn-warning' (click)='save()'>Lưu</button></p>-->
    <!--</div>-->
    <!--<div class="details">-->
      <!--<p class='name'>Pham Xuan Dung</p>-->
      <!--<p class='role' *ngIf='show'>{{select}}</p>-->
      <!--<p class="role" *ngIf='!show'>-->
        <!--<select [(ngModel)]='select'>-->
          <!--<option>Man</option>-->
          <!--<option>Employee</option>-->
        <!--</select>-->
      <!--</p>-->
      <!--<p class='fix' *ngIf='show'><button class='btn btn-warning' (click)='edit()'>Sửa</button></p>-->
      <!--<p class='fix' *ngIf='!show'><button class='btn btn-warning' (click)='openAskSaveModal()'>Lưu</button></p>-->
    <!--</div>-->
    <!--<div class="details">-->
      <!--<p class='name'>Le Anh Cuong</p>-->
      <!--<p class='role' *ngIf='show'>{{select}}</p>-->
      <!--<p class="role" *ngIf='!show'>-->
        <!--<select [(ngModel)]='select'>-->
          <!--<option>Man</option>-->
          <!--<option>Employee</option>-->
        <!--</select>-->
      <!--</p>-->
      <!--<p class='fix' *ngIf='show'><button class='btn btn-warning' (click)='edit()'>Sửa</button></p>-->
      <!--<p class='fix' *ngIf='!show'><button class='btn btn-warning' (click)='openAskSaveModal()'>Lưu</button></p>-->
    <!--</div>-->
    <!--<div class="details">-->
      <!--<p class='name'>Dao To Tung</p>-->
      <!--<p class='role' *ngIf='show'>{{select}}</p>-->
      <!--<p class="role" *ngIf='!show'>-->
        <!--<select [(ngModel)]='select'>-->
          <!--<option>Man</option>-->
          <!--<option>Employee</option>-->
        <!--</select>-->
      <!--</p>-->
      <!--<p class='fix' *ngIf='show'><button class='btn btn-warning' (click)='edit()'>Sửa</button></p>-->
      <!--<p class='fix' *ngIf='!show'><button class='btn btn-warning' (click)='openAskSaveModal()'>Lưu</button></p>-->
    <!--</div>-->
    <!--<div class="details">-->
      <!--<p class='name'>Nguyen Huy Hung</p>-->
      <!--<p class='role' *ngIf='show'>{{select}}</p>-->
      <!--<p class="role" *ngIf='!show'>-->
        <!--<select [(ngModel)]='select'>-->
          <!--<option>Man</option>-->
          <!--<option>Employee</option>-->
        <!--</select>-->
      <!--</p>-->
      <!--<p class='fix' *ngIf='show'><button class='btn btn-warning' (click)='edit()'>Sửa</button></p>-->
      <!--<p class='fix' *ngIf='!show'><button class='btn btn-warning' (click)='openAskSaveModal()'>Lưu</button></p>-->
    <!--</div>-->
    <!--<div class="details">-->
      <!--<p class='name'>Le Thi Tam</p>-->
      <!--<p class='role' *ngIf='show'>{{select}}</p>-->
      <!--<p class="role" *ngIf='!show'>-->
        <!--<select [(ngModel)]='select'>-->
          <!--<option>Man</option>-->
          <!--<option>Employee</option>-->
        <!--</select>-->
      <!--</p>-->
      <!--<p class='fix' *ngIf='show'><button class='btn btn-warning' (click)='edit()'>Sửa</button></p>-->
      <!--<p class='fix' *ngIf='!show'><button class='btn btn-warning' (click)='openAskSaveModal()'>Lưu</button></p>-->
  <!--</div>-->
  <!--<div id="role">-->
    <!--<div><p href="#">Employee</p></div>-->
    <!--<div><p href="#">Employee</p></div>-->

    <!--<div><p href="#">Man</p></div>-->
    <!--<div><p href="#">Employee</p></div>-->

    <!--<div><p href="#">Man</p></div>-->
    <!--<div><p href="#">Admin</p></div>-->
    <!--<div><p href="#">Man</p></div>-->
  <!--</div>-->
  <!--<div id="fix">-->
    <!--<div>-->
      <!--<button class='btn btn-warning'>Sửa</button>-->
    <!--</div>-->
    <!--<div>-->
      <!--<button class='btn btn-warning'>Sửa</button>-->
    <!--</div>-->
    <!--<div>-->
      <!--<button class='btn btn-warning'>Sửa</button>-->
    <!--</div>-->
    <!--<div>-->
      <!--<button class='btn btn-warning'>Sửa</button>-->
    <!--</div>-->
    <!--<div>-->
      <!--<button class='btn btn-warning'>Sửa</button>-->
    <!--</div>-->
    <!--<div>-->
      <!--<button class='btn btn-warning'>Sửa</button>-->
    <!--</div>-->
    <!--<div>-->
      <!--<button class='btn btn-warning'>Sửa</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</table>-->


<!--<input type="text" id="myInput" (keyup)="myFunction()" placeholder="Search for names..">-->
<!--<div id="managementContent">-->
<!--<table id="myTable">-->
  <!--<tr class="header">-->
    <!--<th >User name</th>-->
    <!--<th >First name</th>-->
    <!--<th >Last name</th>-->
    <!--<th >Full name</th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>{{list.userName}}</td>-->
    <!--<td>{{list.firstName}}</td>-->
    <!--<td>{{list.lastName}}</td>-->
    <!--<td>{{list.fullName}}</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>{{list.username}}</td>-->
    <!--<td>{{list.firstname}}</td>-->
    <!--<td>{{list.lastname}}</td>-->
    <!--<td>{{list.fullname}}</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>{{list.username}}</td>-->
    <!--<td>{{list.firstname}}</td>-->
    <!--<td>{{list.lastname}}</td>-->
    <!--<td>{{list.fullname}}</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>{{list.username}}</td>-->
    <!--<td>{{list.firstname}}</td>-->
    <!--<td>{{list.lastname}}</td>-->
    <!--<td>{{list.fullname}}</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>{{list.username}}</td>-->
    <!--<td>{{list.firstname}}</td>-->
    <!--<td>{{list.lastname}}</td>-->
    <!--<td>{{list.fullname}}</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>{{list.username}}</td>-->
    <!--<td>{{list.firstname}}</td>-->
    <!--<td>{{list.lastname}}</td>-->
    <!--<td>{{list.fullname}}</td>-->
  <!--</tr>-->

<!--</table>-->
<!--</div>-->
<div *ngFor='let item of list'>
 sad {{item.username}}
  asd {{item.fullName}}
</div>
