<p class='mb-5'>QUẢN LÍ TÀI KHOẢN</p>
<div class="search">
  <div class="form-group row">
    <label class="col-sm-6 col-form-label">Tìm kiếm tài khoản</label>
    <div class="col-sm-6">
      <input class="form-control search-inp" type="text" id="myInput" (keyup)="mySearchFunction()" placeholder="Search for names.." title="Type in a name">
    </div>
  </div>
</div>
<div id="managementContent">
  <table class='table table-hover' id="myTable">
    <tr>
      <th >User name</th>
      <th >User role</th>
      <th >Edit role</th>
    </tr>
    <tr *ngFor='let userInfo of listUser; let userIndex = index;'>
      <td>{{userInfo.username}}</td>
      <td id='{{userInfo.username}}'>
        <span [hidden]="userInfo.isEdited">{{userInfo.mainRole.slice(5)}}</span>
        <select [hidden]="!userInfo.isEdited"  name="roles" [(ngModel)]="userInfo.mainRole"  >
          <option value="ROLE_MAN">MAN</option>
          <option value="ROLE_EMPLOYEE">EMPLOYEE</option>
        </select>
      </td>
      <td>
        <button [hidden]="userInfo.isEdited" id='{{userInfo.username}}-edit' class='btn btn-hero-success' (click)='updateRole(userInfo)'>Sửa</button>
        <ng-template let-c="close" let-d="dismiss" #content>
          <ngx-save-acc-modal (messageEvent)="updateSuccess($event)" [editedUser]="userInfo" [dismiss]="d"></ngx-save-acc-modal>
        </ng-template>
        <button [hidden]="!userInfo.isEdited"  id='{{userInfo.username}}-save' class='btn btn-hero-warning' (click)="openSaveModal(content)">Lưu</button>

      </td>
    </tr>
  </table>
</div>
