* {
  color: #000;
}
p {
  width: 30%;
  margin: auto;
  font-size: 35px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  border: 5px solid #000
}
.search-acc {
  font-size: 20px;
  width: 30%;
  margin: auto;
}
