@media (min-width: 576px){
  .modal-dialog {
    max-width: 800px;
  }
}
.modal-header h4{
  max-width: 200px;
  margin: auto;
}
.cus-btn{
  position: absolute;
  top: 10px;
  right: 15px;
}
h4.mb-5{
  width: 100%;
  text-align: center;
}
.modal-kscn{
  font-size: 14px;
}
.modal-body{
  padding: 5px 50px;
}
.modal-body h4{
  text-align: center;
}
